# --- Default ownership ---
# Replace with the appropriate owning team for this service.
#       - @Health-Education-England/external-admin-backend
#       - @Health-Education-England/internal-admin-backend
#       - @Health-Education-England/trainee-backend
* @Health-Education-England/tis

# --- Shared ownership ---
# Remove irrelevant teams
/.gitattributes @Health-Education-England/external-admin-backend @Health-Education-England/internal-admin-backend @Health-Education-England/trainee-backend @Health-Education-England/external-admin-devops @Health-Education-England/internal-admin-devops @Health-Education-England/trainee-devops

